.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#navbar {
  padding-top: 25px;
  font-size: 14px;
  padding-left: 350px;
}

body {
font-family: 'Merriweather', serif;
}
