<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <div class="row">
  <header>
  <h1>Home</h1>
</div>
  <div class="row">
      <ul class="list-unstyled">
        <li><a href="/" class="btn">Home</a></li>
        <li><a href="about.html" class="btn">About</a></li>
        <li><a href="work.html" class="btn">Work</a></li>
      </ul>
    </div>
  {{ content }}
</div>
</body>
</html>
