<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div class="container">
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <div class="row">
      <ul class="list-inline">
        <li><a href="/"><button class="btn btn-default">Home</button></a></li>
        <li><a href="about.html"><button class="btn btn-default">About</button></a></li>
  <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Work
    <span class="caret"></span>
  </button></li>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="title1.html">Title 1</a></li>
    <li><a href="title2.html">Title 2</a></li>
  </ul>
</ul>
</div>
<div class="row">
    <h1>Christy Selagy</h1>
  </div>
  <div class="row">
    <img src="logo-header.png" alt="The_Hawk">
  </div>
  <div class="row">
  {{ content }}
</div>
</div>
</body>
</html>
