<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <h1>{{ Christy Selagy }}</h1>
  <img src="logo-header.png" alt="The Hawk">
  <div class="navbar-header">
    <div class="row">
      <ul class="list-unstyled">
        <li><a href="/">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="work.html">Work</a></li>
  {{ content }}
</div>
</body>
</html>
